<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Exectuals</title>
    <base href="./" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
    {{{body}}}
</body>
</html>
